.shapeAnswer-root {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.shapeAnswer-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.shapeAnswer-controls {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    right: 50%;
    transform: translate(50%);
    width: 80%;
}

.shapeAnswer-mainText {
    left: 0;
    padding: 1.5rem;
    margin-top: 30rem;
    margin-right: 2rem;
    margin-left: 2rem;
    max-height: 10rem;
    background-color: white;
    opacity: 0.6;
    border-radius: 50px;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    line-height: 1.1em;
    margin-bottom: 2rem;
}
.shapeAnswer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    height: 4rem;
    width: 15rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    margin-right: 2rem;
    width: 100%;
    font-size: 18px;
}
.button:last-child {
    margin-right: 0;
}